*{
	font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling--centers content vertically and horizontally */
body {
	background-color: hsl(212, 45%, 89%);
	font-family: 'Outfit', sans-serif;
	min-height: 100vh;
}
.qr-card {
	max-width: 320px;
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.qr-card img {
	padding: 1rem;
	border-radius: 1.5rem;
}
.qr-card .card-title {
	font-weight: 700;
	font-size: 1.3rem;
}
.qr-card .card-text {
	color: hsl(220, 15%, 55%);
	font-size: 0.95rem;
}

@media screen and (max-width:480px) {
	#container {
		margin-top: 2rem;
		width: 93%
	}
}